@font-face {
  font-family: "pirates";
  src: url(../fonts/PiratesBay.ttf);
}

body {
  /*background: #ccccff;*/
  background: #284a6c;
  /* background: #e4290a; */
  /* background: #c61315;  /1* Nightmare mode *1/ */
  color: #ddd;
  font-family: pirates, sans-serif;
  margin: 0px 20px;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 25px;
}


/* Game Menu */
#menu {
  position: fixed;
  margin-top: 15px;
  margin-left: -4px;
  z-index: 2;
}

/* Turn number */
#turn-number {
  position: fixed;
  top: 40px;
  left: 18px;
  font-size: 35px;
}

/* Buttons */

.buttons span {
  font-size: 35px;
  cursor: pointer;
}

button:hover {
  background: white;
}

#turn-counter-clockwise, #change-ammunition-ball, #change-ammunition-chain {
  margin-right: 30px;
}

#move-arrow {
  font-size: 50px;
}

#ammunition {
  margin-bottom: 10px;
}

#left-pane {
  position: fixed;
  bottom: 5px;
  left: 5px;
  width 200px;
}

#controls {
  margin-bottom: 175px;
  z-index: 2;
}

/* Tile(s) */

#tiles {
  /* margin-top: 0px; */
}

.basic-tile {
  background: url('../img/basic_tile.svg');
  /* background: url('../img/easter2_tile.svg'); /1* Nightmare mode *1/ */
}

.selected-ship {
  background: url('../img/selected_tile.svg');
}

.target-tile {
  background: url('../img/target_tile.svg');
}

.tile {
  background-size: 139px 120px;
  position: absolute;
  width:  139px;
  height: 120px;
}

.tile-coordinate {
  position: absolute;
  z-index: 2;
}

/* Ships */

/* Styling common to all ships */
.ship {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 120px;
  width: 120px;
  position: absolute; /* Actually positioned via JS */
  transition: transform 2s, border 0s, left 1.7s, top 1.7s;
  z-index: 3;
}

/* Styling differing between ship models */
.brig-enemy {
  background-image: url("../img/ship-types/brig-enemy.svg");
}

.brig-player {
  background-image: url("../img/ship-types/brig-player.svg");
}

.ship-of-the-line-enemy {
  background-image: url("../img/ship-types/ship-of-the-line-enemy.svg");
}

.ship-of-the-line-player {
  background-image: url("../img/ship-types/ship-of-the-line-player.svg");
}

.man-at-war-enemy {
  background-image: url("../img/ship-types/man-at-war-enemy.svg");
}

.man-at-war-player {
  background-image: url("../img/ship-types/man-at-war-player.svg");
}

/* Stat bars for sailors, hull */
#stat-bars {
  z-index: 2;
}

#stat-bars > div {
  margin-bottom: 10px;
  height: 1.5rem;
}

/* Attacks */

.disable-pointer-events {
  pointer-events: none;
}

/* Main, server and client menues */

#mainmenu {
  font-size: 20px;
}

#mainmenu div:nth-of-type(1) {
  margin-bottom: 100px;
}
