@font-face {
  font-family: "pirates";
  src: url(../fonts/PiratesBay.ttf);
}

body {
  background: #ccccff;
  font-family: pirates, sans-serif;
  margin: 150px 20px;
}

h1 {
  font-size: 90px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

#buttons {
  margin-top: 30px;
  font-size: 25px;
}

#arrow-controls {
  font-size: 35px;
}

#arrow-controls svg {
  cursor: pointer;
}

#rotate-left {
  margin-right: 30px;
}

/* Ships */

#testship {
  position: absolute;
  transition: all 2s;
  /* Actually positioned via JS */
  z-index: 3;
}

#move-arrow {
  font-size: 50px;
}

.ship-left {
  transform: scaleX(1); 
}

.ship-right {
  transform: scaleX(-1);
}
